
  <div class="fluid-container" style="position: relative; z-index:10000000000000000000000000;margin-bottom: 400px;background-color: white;">
    <div class="row">
      <div id="bird-box" class="col-md-12">
        <div class="back-bird"></div>
        <div class="logo"></div>
        <div class="fore-bird"></div>
      </div>
      <div class="col-md-12">
        <section class="content">
          <article>
            <h1 class='text-primary'>Unique Style of Clothing</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde obcaecati exercitationem natus sint, ducimus tempora dolores pariatur quaerat accusantium excepturi saepe dolorem fugiat minima laboriosam veniam illum quos sequi, hic.</p>
          </article>
        </section>
      </div>
    </div>

    <div class=" clothes-pics">
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("model1.jpg") %>
          <h5> BlackBird Sweater - <strong> $135</strong></h5>
        </div>
        <div class="col-md-4">
          <%= image_tag("model2.jpg") %>
          <h5> BlackBird Jacket - <strong> $135</strong></h5>
        </div>
        <div class="col-md-4">
          <%= image_tag("model3.jpg") %>
          <h5> BlackBird Trousers - <strong> $135</strong></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("model1.jpg") %>
          <h5> BlackBird Sweater - <strong> $135</strong></h5>
        </div>
        <div class="col-md-4">
          <%= image_tag("model2.jpg") %>
          <h5> BlackBird Jacket - <strong> $135</strong></h5>
        </div>
        <div class="col-md-4">
          <%= image_tag("model3.jpg") %>
          <h5> BlackBird Trousers - <strong> $135</strong></h5>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <%= image_tag("model1.jpg") %>
          <h5> BlackBird Sweater - <strong> $135</strong></h5>
        </div>
        <div class="col-md-4">
          <%= image_tag("model2.jpg") %>
          <h5> BlackBird Jacket - <strong> $135</strong></h5>
        </div>
        <div class="col-md-4">
          <%= image_tag("model3.jpg") %>
          <h5> BlackBird Trousers - <strong> $135</strong></h5>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section class="content">
          <article>
            <h1>A lot of Branches</h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque repellendus, esse corporis deleniti pariatur, placeat dolorem praesentium vero repellat mollitia possimus hic corrupti sint tempore quas quaerat explicabo, debitis aut.</p>
          </article>
        </section>
      </div>
    </div>
    <div class="about-me">
      <div class="row">
        <div class="col-md-12">
          <div class="window-tint">
            <div class="promo-text">
              Fall Suit
              <strong><span>from</span> $99.0</strong>
              <a href="" class="window-cta">Shop Now </a>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <section class="content">
          <article>
            <h1>Rich History </h1>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cumque repellendus, esse corporis deleniti pariatur, placeat dolorem praesentium vero repellat mollitia possimus hic corrupti sint tempore quas quaerat explicabo, debitis aut.</p>
          </article>
        </section>
      </div>
    </div>
    <div class="blog-posts">
      <div class="row">
        <div class="col-md-3 ">
          <div class="card post-1">
            <!--<img class="card-img-top" src="./images/posts/one.jpg" alt="Card image cap">-->
            <%= image_tag "/assets/posts/one.jpg", class: 'card-img-top' %> 
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="card post-2">
            <%= image_tag "/assets/posts/two.jpg", class: 'card-img-top' %> 
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="card post-3">         
            <%= image_tag "/assets/posts/three.jpg", class: 'card-img-top' %> 
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-md-3 ">
          <div class="card post-4">
            <%= image_tag "/assets/posts/four.jpg", class: 'card-img-top' %> 
            <div class="card-body">
              <h4 class="card-title">Card title</h4>
              <p class="card-text">Some quick example text to build on the card</p>
              <a href="#" class="btn btn-primary">Read More</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <footer class='container-fluid'>
    <!--<footer>-->
      <div class="row footer-stuff">
        <div class="col-md-3">
          <strong>FIND US ON</strong>
          <ul>
            <li><a href="">Twitter</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Pinterest</a></li>
            <li><a href="">Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-3">
          <strong>FIND US ON</strong>
          <ul>
            <li><a href="">Twitter</a></li>
            <li><a href="">Facebook</a></li>
            <li><a href="">Pinterest</a></li>
            <li><a href="">Instagram</a></li>
          </ul>
        </div>
        <div class="col-md-6">
          <p>
            <strong>Sign Up for the newsletter</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit.
          </p>
          <form>
            <div class="form-group">
              <div class="row">
                <div class="col-md-8">
                  <label for="exampleInputEmail1">Email address</label>
                  <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                  <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                </div>
              </div>
              <div class="col-md-4" style="opacity: 1;">
                <button type="submit" class="btn btn-primary">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    <!--</footer>-->
  </footer>

